:root{
	--sheetWidth: 840px;
	--navWidth: 297px;
	--headerHeight: 160px;
}

@font-face { 
	font-family: "defaultOffice"; 
	src: url("font/Calibri.ttf"); 
}


*{
	margin: 0;
	padding: 0;

	font-family: defaultOffice;
}

/*Containers*/
body{
	overflow-x: hidden;
	/*overflow-y: hidden;	*/
}


header{
	overflow-y: hidden;	
	overflow-x: hidden;	
	height: var(--headerHeight);
	position: 	fixed;

	border-bottom: 	1px solid #D2D2D2;
}

#header-top{
	width: 100vw;
	background-color: #2A579A;
}

#header-menu{
	background-color: #F1F1F1;
}

#content{
	width: 	100vw;
	padding-top: 20px;
	padding-bottom: 80px;
	background-color: #E6E6E6;

	overflow-y: scroll;	
}

#sheet{
	width: var(--sheetWidth);

	margin-left: calc((100vw - var(--navWidth) - var(--sheetWidth) )/2 + 297px);
	margin-top: 160px;

	padding : 40px;

	border: 1px solid #C6C6C6;
	background-color: white;
}

#sidemenu{
	width: var(--navWidth);
	height: calc(100vh - var(--headerHeight));

	float: left;
	position: fixed;

	margin-top: 141px;

	/*background-color: white; /*Just for Testing*/
	border-right: 1px solid #C6C6C6;
}

footer{
	position: fixed;
	width: 	100vw;

	background-color: #F1F1F1;

	top: calc(100vh - 21px);
	z-index: 999;
}


/*Content formatting*/
.post{
	margin-top: 30px;
}

.post ul{
	margin-left: 20px;
}

.post-title a{
	text-decoration: none;
	font-style: normal;
	font-size: 16px;
	color: #5C95C7;
}


/*Images*/
#WindowOpt{
	float: right;
}

#DocName{
	position: 	fixed;
	left: 47vw;
}

#ToolBarFiller{
	float: right;
	width: calc(100vw - 1904px); /*Stretches to match the width of the screen*/
	height: 121px;
}

#zoom{
	float: 	right;
}
